*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  color: #000;
}

body, textarea {
  background: #f0f0f2;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

main{
  max-width: 37.5rem;
  background: #fdfdff;
  border-radius: 0.5rem;
  box-shadow: .125rem 5.333rem 2.2857rem .125rem rgba(0,0,0,0.02);
  padding: 2rem;
  margin: 5rem auto;

  nav{
    display: flex;
    justify-content: space-between;
    margin: 0rem 0 2rem;
    .title{
      font-size: 2rem;
      font-weight: 700;
    }
    ul{
      list-style: none;
      display: flex;
      align-items: center;
      gap: .5rem;
      li{
        a{
          border-radius: .5rem;
          padding: .75rem 1rem;
          &:hover{
            background: #f6f6f8;
          }
        }
        &:nth-child(3) a{
          cursor: pointer;
          color: #ff0000;
          &:hover{
            background: #ff000014;
          }
        }
      }
    }
  }

  .notes{
    display: flex;
    flex-flow: column;
    gap: .75rem;
    .note{
      cursor: pointer;
      background: #f6f6f8;
      border-radius: .5rem;
      padding: 1rem 1.25rem;
      &:hover{
        filter: brightness(.98);
      }
    }
    p{
      text-align: center;
    }
  }

  form{
    display: flex;
    flex-flow: column;
    gap: 1rem;
    align-items: flex-end;

    textarea{
      resize: none;
      width: 100%;
      height: 10rem;
      font-size: 1rem;
      background: #f6f6f8;
      border: none;
      border-radius: .3rem;
      padding: 1rem;
    }
  }
}

.btn{
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  background: #000;
  border: none;
  border-radius: .5rem;
  padding: .75rem 1.25rem;
}